<div class="target-score-container">
    <span class="label">Target</span>
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress" style="width: 67%;"></div>
            <div class="marker"></div>
        </div>
        <span class="score">73%</span>
        <div class="current-score">
            <span class="current-label">Current Score 🔻 6%</span><br>
            <span class="description">less than Target</span>
        </div>

    </div>

</div>