<div id="gauge-chart-container" class="chart-container">
  <h2>Overall Score</h2>
  <div class="bottom">
    <div id="gauge-chart">
      <!-- Gauge chart SVG goes here -->
      <div class="content">
        <div id="left">
          <p>Last Cycle: 61%</p>
        </div>
        <div id="rght">
          <button id="btn">10% VS Last Cycle</button>
        </div>
      </div>
    </div>
    <div class="reuse">
      <app-progress></app-progress>

    </div>

  </div>


</div>